#billing_info .css-14el2xx-placeholder{
    font-size: 14px;
}
#billing_info .css-1s2u09g-control{
    height: 47px;
}
#billing_info  .css-319lph-ValueContainer{
    min-height: 100%;
}
#billing_info  label small{
    color: #FB404B;
}