<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Attivita</title>
	</head>
	<body style="margin:0; font-size: 16px;line-height: 18px; background:#fff;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        <div style="width: 1000px; margin:0 auto; background:#fff; color:#000;">
            <table style="width: 1000px;margin: 30px 0 50px;">
                <tbody><tr style="vertical-align:top;">
                    <td style="width: 1000px; text-align: center;vertical-align:middle; padding-bottom: 40px;">
                        <img src="https://attivita.server18.arhamsoft.info/frontside/images/logo.png" alt="main-logo" title="logo" width="300px">
                    </td>
                </tr>
                <tr style="vertical-align:top;">
                    <td style="vertical-align:top;">
                        <table style="width: 100%;border-collapse: collapse;font-size: 16px;line-height: 18px; padding: 4px 8px;">
                            <tbody>
                                <tr>
                                    <td style="width: 500px;padding: 0.75rem;vertical-align: top;font-weight: bold;padding-bottom: 0;">
                                        <h2 style="text-decoration: underline; font-size: 14px; font-weight: 400;margin-top: 0;">License Distribution GmbH Schlossberg 1.D-63860 Rothenbuch</h2>
                                        <p style="margin:0 0 5px 0;">Mister</p>
                                        <p style="margin:0 0 5px 0;">Attivita UG</p>
                                        <p style="margin:0 0 5px 0;">Address</p>
                                        <p style="margin:0 0 5px 0;">75 Van Galen Street</p>
                                        <p style="margin:0 0 5px 0;">33378 Rheda Wiedenbrück</p>
                                    </td>
                                    <td style="width: 500px;padding: 0.75rem;vertical-align: top;padding-bottom: 0;">
                                        <h2 style="text-decoration: underline; font-size: 22px; font-weight: bold;text-transform: capitalize; text-align: center;margin-top: 0;">delivery note/invoice</h2>
                                        <table style="width: 100%;border-collapse: collapse;font-size: 16px;line-height: 18px; padding: 4px 8px; border: 2px solid #32383e;">
                                            <tr>
                                                <td style="border-collapse: collapse;text-transform: capitalize;text-align: left;padding: 10px 5px 0;font-size: 16px;">Invoice no.:</td>
                                                <td style="border-collapse: collapse;text-transform: capitalize;text-align: right;font-weight: bold;padding: 10px 5px 0;font-size: 16px;">22425569</td>
                                            </tr>
                                            <tr>
                                                <td style="border-collapse: collapse;text-transform: capitalize;text-align: left;padding:5px 5px 5px;font-size: 16px;">Date of invoice:</td>
                                                <td style="border-collapse: collapse;text-transform: capitalize;text-align: right;font-weight: bold;padding:5px 5px 5px;font-size: 16px;">13.06.2022</td>
                                            </tr>
                                            <tr>
                                                <td style="border-collapse: collapse;text-transform: capitalize;text-align: left;padding:5px 5px 10px;font-size: 16px;">Customer number.:</td>
                                                <td style="border-collapse: collapse;text-transform: capitalize;text-align: right;font-weight: bold;padding: 5px 5px 10px;font-size: 16px;">16000</td>
                                            </tr>
                                        </table>
                                    </td>  
                                </tr>
                                <tr>
                                    <td style="width: 500px;padding: 0.75rem;vertical-align: top;padding-top: 0;padding-bottom: 40px;">
                                    </td>
                                    <td style="width: 500px;padding: 0.75rem;vertical-align: top;padding-top: 0;padding-bottom: 40px;">
                                        <table style="width: 100%;border-collapse: collapse;font-size: 16px;line-height: 18px;">
                                            <tr>
                                                <td style="border-collapse: collapse;text-transform: capitalize;text-align: left;padding: 10px 5px 0;font-size: 16px;">Edited by:</td>
                                                <td style="border-collapse: collapse;text-transform: capitalize;text-align: right;padding: 10px 5px 0;font-size: 16px;">
                                                    Automatic processing</td>
                                            </tr>
                                            <tr>
                                                <td style="border-collapse: collapse;text-transform: capitalize;text-align: left;padding:5px 5px 0;font-size: 16px;">Your Order:</td>
                                                <td style="border-collapse: collapse;text-transform: capitalize;text-align: right;padding:5px 5px 0;font-size: 16px;">30267</td>
                                            </tr>
                                            <tr>
                                                <td style="border-collapse: collapse;text-transform: capitalize;text-align: left;padding:5px 5px 0;font-size: 16px;">ordered on:</td>
                                                <td style="border-collapse: collapse;text-transform: capitalize;text-align: right;padding: 5px 5px 0;font-size: 16px;">13.06.2022</td>
                                            </tr>
                                            <tr>
                                                <td style="border-collapse: collapse;text-transform: capitalize;text-align: left;padding:5px 5px 0;font-size: 16px;">VAT ID no.</td>
                                                <td style="border-collapse: collapse;text-transform: capitalize;text-align: right;padding:5px 5px 0;font-size: 16px;">DE331138451</td>
                                            </tr>
                                            <tr>
                                                <td style="border-collapse: collapse;text-transform: capitalize;text-align: left;padding:5px 5px 0;font-size: 16px;">Order number.:</td>
                                                <td style="border-collapse: collapse;text-transform: capitalize;text-align: right;padding: 5px 5px 0;font-size: 16px;">22247207</td>
                                            </tr>
                                            <tr>
                                                <td style="border-collapse: collapse;text-transform: capitalize;text-align: left;padding:5px 5px 0;font-size: 16px;">Side:</td>
                                                <td style="border-collapse: collapse;text-transform: capitalize;text-align: right;padding: 5px 5px 0;font-size: 16px;">1 out of 1</td>
                                            </tr>
                                        </table>
                                    </td> 
                                </tr>
                                <tr>
                                    <td colspan="2" style="border-collapse: collapse;text-transform: capitalize;text-align: left;font-weight: 600;padding: 0.75rem;font-size: 16px; color: #fff; background-color: #212529;border-bottom: 2px solid #dee2e6; border-color: #32383e; border-top: 1px solid #dee2e6;">Delivery address: Mr. Attivita UG Andreas Zurlo, Van-Galen-Straße 75, DE - 33378 Rheda Wiedenbrück</td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="padding:0 0 20px">
                                        <table style="width: 100%;border-collapse: collapse;border: 1px solid #dee2e6;font-size: 16px;line-height: 18px; padding: 4px 8px;">
                                            <thead>
                                                <tr>
                                                    <th style="border-collapse: collapse;text-align: left;text-transform: capitalize; font-weight: 600;padding: 0.75rem;font-size: 16px;
                                                    background-color: #9e9e9e52;border-bottom: 2px solid #dee2e6; border-color: #9e9e9e52; border-top: 1px solid #dee2e6;">
                                                        Article no.</th>
                                                    <th style="border-collapse: collapse;text-align: left;text-transform: capitalize; font-weight: 600;padding: 0.75rem;font-size: 16px;
                                                    background-color: #9e9e9e52;border-bottom: 2px solid #dee2e6; border-color: #9e9e9e52; border-top: 1px solid #dee2e6;">Designation</th>
                                                    <th style="border-collapse: collapse;text-align: left;text-transform: capitalize; font-weight: 600;padding: 0.75rem;font-size: 16px;
                                                    background-color: #9e9e9e52;border-bottom: 2px solid #dee2e6; border-color: #9e9e9e52; border-top: 1px solid #dee2e6;">Amount</th>
                                                    <th style="border-collapse: collapse;text-align: left;text-transform: capitalize; font-weight: 600;padding: 0.75rem;font-size: 16px;
                                                    background-color: #9e9e9e52;border-bottom: 2px solid #dee2e6; border-color: #9e9e9e52; border-top: 1px solid #dee2e6;"> unit price</th>
                                                    <th style="border-collapse: collapse;text-align: left;text-transform: capitalize; font-weight: 600;padding: 0.75rem;font-size: 16px;
                                                    background-color: #9e9e9e52;border-bottom: 2px solid #dee2e6; border-color: #9e9e9e52; border-top: 1px solid #dee2e6;">total price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td style="padding: 0.75rem;vertical-align: top;border-top: 1px solid #dee2e6;">506019</td>
                                                    <td style="padding: 0.75rem;vertical-align: top;border-top: 1px solid #dee2e6;">McAfee Internet Security (1 Device - 1 Year)</td>
                                                    <td style="padding: 0.75rem;vertical-align: top;border-top: 1px solid #dee2e6;">1,00</td>
                                                    <td style="padding: 0.75rem;vertical-align: top;border-top: 1px solid #dee2e6;">3,50 €</td>
                                                    <td style="padding: 0.75rem;vertical-align: top;border-top: 1px solid #dee2e6;">3,50 €</td>

                                                </tr>
                                                <tr>
                                                    <td style="padding: 0.75rem;vertical-align: top;border-top: 1px solid #dee2e6;">506019</td>
                                                    <td style="padding: 0.75rem;vertical-align: top;border-top: 1px solid #dee2e6;">McAfee Internet Security (1 Device - 1 Year)</td>
                                                    <td style="padding: 0.75rem;vertical-align: top;border-top: 1px solid #dee2e6;">1,00</td>
                                                    <td style="padding: 0.75rem;vertical-align: top;border-top: 1px solid #dee2e6;">3,50 €</td>
                                                    <td style="padding: 0.75rem;vertical-align: top;border-top: 1px solid #dee2e6;">3,50 €</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 500px;"></td>
                                    <td style="width: 500px; padding:0 0 20px;">
                                        <table style="width: 100%;border-collapse: collapse;font-size: 16px;line-height: 18px; padding: 4px 8px;">
                                            <tbody>
                                                <tr>
                                                    <td style="padding: 0.75rem;vertical-align: top;font-weight: bold;padding-bottom: 0;text-align: right;">Total net:</td>
                                                    <td style="padding: 0.75rem;vertical-align: top;font-weight: bold;padding-bottom: 0;text-align: right;">3,50 €</td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 0.75rem;vertical-align: top;padding-bottom: 5px;text-align: right;">plus 19.00% VAT:</td>
                                                    <td style="padding: 0.75rem;vertical-align: top;padding-bottom: 5px;text-align: right;">0,67 €</td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 0.75rem;vertical-align: top;font-weight: bold;padding-bottom: 5px;text-align: right;">Gesamt brutto:</td>
                                                    <td style="padding: 0.75rem;vertical-align: top;text-align: right;padding-bottom: 5px;border-top: 1px solid #000;border-bottom: 4px double #000;font-weight: bold;">4,17 €</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="padding: 14px 0 0;">Our general terms and conditions apply.</td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="padding: 14px 0 0;font-weight: bold;">Unless otherwise stated, the service/delivery date corresponds to the invoice date.</td>
                                </tr>
                                <tr>
                                    <td style="padding: 14px 0 0;">
                                        <p style="display:inline-block; margin:0;width: 120px;">Payment:</p>
                                        <p style="display:inline-block; margin:0;">Payable within 10 days net without deduction</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px 0 0;">
                                        <p style="display:inline-block;width: 120px; margin:0;">Delivery:</p>
                                        <p style="display:inline-block; margin:0;">Delivery by email</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="padding: 14px 0;font-weight: bold;">Tragen Sie bitte bei Überweisungen im Verwendungszweck immer Ihre Rechnungsnummer und Kundennummer ein.<br>
                                    RE No. 22425569 / KD No. 16000</td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="padding: 14px 0 0;">The goods remain the property of License Distribution GmbH until full payment has been made.</td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="padding: 9 0 14px 0;">The extended retention of title applies.</td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="padding: 14px 0;font-weight: bold;">When purchasing Kaspersky products, note the warning from the Federal Office for Information Security. (BSI)
                                        For more information, see: BSI</td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="padding: 14px 0;">Further information can be found at: BSI</td>
                                </tr>
                               
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody></table>

        </div>
    </body>
</html>