<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Attivita</title>
	</head>
	<body style="margin:0; font-size: 16px;line-height: 18px; background:#fff;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        <div style="width: 1000px; margin:0 auto; background:#fff; color:#000;">
            <table style="width: 1000px;margin: 30px 0 50px;">
                <tr style="vertical-align:top;">
                    <td
                        style="width: 1000px; text-align: center;vertical-align:middle; padding-bottom: 20px;">
                        <img src="https://attivita.server18.arhamsoft.info/frontside/images/logo.png" alt="main-logo" title="logo" width="300px">
                    </td>
                </tr>
                <tr style="vertical-align:top;">
                    <td style="vertical-align:top;">
                        <table style="width: 100%;border-collapse: collapse;font-size: 16px;line-height: 18px; padding: 4px 8px;">
                            <thead>
                                <tr>
                                    <th colspan="2" style="border-collapse: collapse;text-transform: capitalize;text-align: left;font-weight: 600;padding: 0.75rem;font-size: 16px; color: #fff;
                                    background-color: #212529;border-bottom: 2px solid #dee2e6; border-color: #32383e; border-top: 1px solid #dee2e6;">
                                    license certificate</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="2" style="padding: 0.75rem;vertical-align: top;border-top: 1px solid #dee2e6;font-weight: bold;">
                                        <p style="margin:0 0 5px 0;">Mister</p>
                                        <p style="margin:0 0 5px 0;">Attivita UG</p>
                                        <p style="margin:0 0 5px 0;">Address</p>
                                        <p style="margin:0 0 5px 0;">75 Van Galen Street</p>
                                        <p style="margin:0 0 5px 0;">33378 Rheda Wiedenbrück</p>
                                        <span style="padding: 30px 0; display: inline-block;"><a href="mailto:info@attivita.de" style="text-decoration:none; color: #531977; font-size: 16px;">info@attivita.de</a></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="border-collapse: collapse;text-transform: capitalize;text-align: left;font-weight: 600;padding: 0.75rem;font-size: 16px; color: #fff; background-color: #212529;border-bottom: 2px solid #dee2e6; border-color: #32383e; border-top: 1px solid #dee2e6;">
                                    information</td>
                                </tr>
                                <tr>
                                    <td style="width:100px">
                                    <p style="display: inline-block; padding-right: 30px;">Delivered:</p> 
                                    </td>
                                    <td>
                                        <p style="display: inline-block;">06/13/2022 19:05:41</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="border-collapse: collapse;text-transform: capitalize;text-align: left;font-weight: 600;padding: 0.75rem;font-size: 16px; color: #fff; background-color: #212529;border-bottom: 2px solid #dee2e6; border-color: #32383e; border-top: 1px solid #dee2e6;">
                                    product</td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="padding:40px 0">
                                        <table style="width: 100%;border-collapse: collapse;border: 1px solid #dee2e6;font-size: 14px;line-height: 18px; padding: 4px 8px;">
                                            <thead>
                                                <tr>
                                                    <th style="border-collapse: collapse;text-align: left;text-transform: capitalize; font-weight: 600;padding: 0.75rem;font-size: 16px;
                                                    background-color: #9e9e9e52;border-bottom: 2px solid #dee2e6; border-color: #9e9e9e52; border-top: 1px solid #dee2e6;">
                                                        Article no.</th>
                                                    <th style="border-collapse: collapse;text-align: left;text-transform: capitalize; font-weight: 600;padding: 0.75rem;font-size: 16px;
                                                    background-color: #9e9e9e52;border-bottom: 2px solid #dee2e6; border-color: #9e9e9e52; border-top: 1px solid #dee2e6;">Designation</th>
                                                    <th style="border-collapse: collapse;text-align: left;text-transform: capitalize; font-weight: 600;padding: 0.75rem;font-size: 16px;
                                                    background-color: #9e9e9e52;border-bottom: 2px solid #dee2e6; border-color: #9e9e9e52; border-top: 1px solid #dee2e6;">Amount</th>
                                                    <th style="border-collapse: collapse;text-align: left;text-transform: capitalize; font-weight: 600;padding: 0.75rem;font-size: 16px;
                                                    background-color: #9e9e9e52;border-bottom: 2px solid #dee2e6; border-color: #9e9e9e52; border-top: 1px solid #dee2e6;"> unit price</th>
                                                    <th style="border-collapse: collapse;text-align: left;text-transform: capitalize; font-weight: 600;padding: 0.75rem;font-size: 16px;
                                                    background-color: #9e9e9e52;border-bottom: 2px solid #dee2e6; border-color: #9e9e9e52; border-top: 1px solid #dee2e6;">total price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td style="padding: 0.75rem;vertical-align: top;border-top: 1px solid #dee2e6;">506019</td>
                                                    <td style="padding: 0.75rem;vertical-align: top;border-top: 1px solid #dee2e6;">McAfee Internet Security (1 Device - 1 Year)</td>
                                                    <td style="padding: 0.75rem;vertical-align: top;border-top: 1px solid #dee2e6;">1,00</td>
                                                    <td style="padding: 0.75rem;vertical-align: top;border-top: 1px solid #dee2e6;">3,50 €</td>
                                                    <td style="padding: 0.75rem;vertical-align: top;border-top: 1px solid #dee2e6;">3,50 €</td>

                                                </tr>
                                                <tr>
                                                    <td style="padding: 0.75rem;vertical-align: top;border-top: 1px solid #dee2e6;">506019</td>
                                                    <td style="padding: 0.75rem;vertical-align: top;border-top: 1px solid #dee2e6;">McAfee Internet Security (1 Device - 1 Year)</td>
                                                    <td style="padding: 0.75rem;vertical-align: top;border-top: 1px solid #dee2e6;">1,00</td>
                                                    <td style="padding: 0.75rem;vertical-align: top;border-top: 1px solid #dee2e6;">3,50 €</td>
                                                    <td style="padding: 0.75rem;vertical-align: top;border-top: 1px solid #dee2e6;">3,50 €</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="border-collapse: collapse;text-transform: capitalize;text-align: left;font-weight: 600;padding: 0.75rem;font-size: 16px; color: #fff; background-color: #212529;border-bottom: 2px solid #dee2e6; border-color: #32383e; border-top: 1px solid #dee2e6;">
                                        Instructions in 2 steps</td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="padding: 14px 0 0;font-weight: bold;">1. Gehen Sie auf den Download-Link.</td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="padding: 14px 0 0;font-weight: bold;">Downloadlink:</td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="padding: 0 0 14px;font-weight: bold;"><a href="#" style="text-decoration:none; color: #531977; font-size: 16px;"> http://www.mcafee.com/activate</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="padding: 14px 0 0;font-weight: bold;">Support link:</td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="padding: 0 0 14px;font-weight: bold;"><a href="#" style="text-decoration:none; color: #531977; font-size: 16px;"> 
                                        https://service.mcafee.com/webcenter/portal</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="padding: 14px 0;font-weight: bold;">Serial numbers:</td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="padding: 0 0 30px;font-weight: bold;">2. Start the download and use your activation code to activate the software:</td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="padding: 0 0 20px;font-weight: bold; text-decoration: underline;">Activation code: 569MC-S4ZKW-DCY4X-F4APG-APH66</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <p style="margin: 0 0 10px; font-weight: 500;">
                                            You can now use your software license. Should you wish to extend this in the future, please contact Attivita UG Andreas Zurlo.</p> 
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <p style="margin: 0 0 14px; font-weight: 500;">
                                            Danger! Keep this document in a safe place in case you decide to reinstall in the future.</p> 
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>

        </div>
    </body>
</html>